<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
<div class="col-md-6" >
    <h3>Department </h3>
    <form #DepartmentForm="ngForm">
      <div class="form-group">
        <label for="Department Id">Department Id</label>
        <input type="text" class="form-control" name="deptId" #deptId="ngModel" ngModel required pattern="[0-9]+" />
        <div *ngIf="deptId.touched">
          <div *ngIf="deptId.errors?.['required']">
            <b style="color: red;">Department Id is required.</b>
          </div>
          <div *ngIf="deptId.errors?.['pattern']">
            <font color="red"><b>Invalid Department Id.</b></font>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="Department Name">Department Name</label>
        <input type="text" class="form-control" name="deptName" #deptName="ngModel" ngModel required pattern="[a-zA-Z ]+" />
        <div *ngIf="deptName.touched">
          <div *ngIf="deptName.errors?.['required']">
            <b style="color: red;">Department Name is required.</b>
          </div>
          <div *ngIf="deptName.errors?.['pattern']">
            <font color="red"><b>Invalid Department Name.</b></font>
          </div>
        </div>
      </div>
       <div class="d-flex flex-wrap">
        <button class="btn btn-success m-1" (click)="insertDepartment(DepartmentForm.value)">Insert</button>
        <button class="btn btn-primary m-1" (click)="updateDepartment(DepartmentForm.value)">Update</button>
        <button class="btn btn-danger m-1" (click)="deleteDepartment(DepartmentForm.value)">Delete</button>
        <button class="btn btn-warning m-1" (click)="findDepartment(DepartmentForm.value)">Find</button>
        <button class="btn btn-info m-1" (click)="findAllDepartment()">Find All</button>
      </div> 
    </form>
    <h2 align="center" ><font color="ggreen">{{result}}</font></h2>

    <div align="center" width="80%">
      <table *ngIf="flag" border="4px solid brown" width="60%">
        <tr><th>Department Id</th><th>Department Name</th></tr>
        <tr *ngFor="let dept of departmentArr"><td>{{dept.deptId}}</td><td>{{dept.deptName}}</td></tr>
      </table>
  </div>
</div>


</body>
</html>
