<h1>hi hello i am app component</h1>
<!-- <app-child1></app-child1>
<app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
 <!-- <app-twowaybinding></app-twowaybinding> -->

 <!-- <app-structuraldirective></app-structuraldirective> -->
  <!-- <app-attributedirective></app-attributedirective> -->

  <!-- <app-servicecompone></app-servicecompone> -->
   <!-- <table width="80%" align="center">
    <tr>
        <th><a routerLink="Property">Property</a></th>
        <th><a routerLink="child1">child1</a></th>
        <th><a routerLink="child2">child2</a></th>
    </tr>
    <br>
    <div>
        <router-outlet></router-outlet>
    </div>

   </table>
   <router-outlet></router-outlet> -->
<!-- 
   <app-tdfforms></app-tdfforms> -->
   <!-- <app-reactive-forms></app-reactive-forms> -->

   <!-- <app-pipes></app-pipes> -->
    <app-custompipe></app-custompipe>