<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    </head>
    <body >
     
      <h1 align="center">LIBRARY BOOK MANAGEMENT SYSTEM</h1>
      <div class="container" >
        <form #LibraryForm="ngForm">
          <div class="form-group">
            <label for="Book Id">Book ID</label>
            <input type="text" class="form-control" name="id" ngModel #id="ngModel" 
            pattern="[0-9]+" required>

          </div>
          <div *ngIf="id.touched">
            <div *ngIf="id.errors?.['required']">
            <b style="color: red;">Book Id Required.</b>
            </div>
            <div *ngIf="id.errors?.['pattern']">
            <font color="red"><b>Invalid Book Id.</b></font>
            </div>
         </div>
         
         <div class="form-group">
          <label for="Book Name">Book Name</label>
          <input type="text" class="form-control" name="bookName" ngModel #bookName="ngModel" 
          pattern="[a-zA-z]+" required />
        </div>
          <div *ngIf="bookName.touched">
            <div *ngIf="bookName.errors?.['required']">
            <b style="color: red;">Book Name Required.</b>
            </div>
            <div *ngIf="bookName.errors?.['pattern']">
            <font color="red"><b>Invalid Book Name.</b></font>
            </div>
          </div>

          <div class="form-group">
            <label for="Book Shelf">Book Shelf No</label>
            <input type="text" class="form-control" name="bookShelf" ngModel #bookShelf="ngModel" 
            pattern="[0-9]+" required />
          </div>
          <div *ngIf="bookShelf.touched">
            <div *ngIf="bookShelf.errors?.['required']">
            <b style="color: red;">Book Shelf Required.</b>
            </div>
            <div *ngIf="bookShelf.errors?.['pattern']">
            <font color="red"><b>Invalid Book Shelf.</b></font>
            </div>
          </div>

          <div class="form-group">
            <label for="Book Price">Book Price</label>
            <input type="text" class="form-control" name="bookPrice" ngModel #bookPrice="ngModel" 
            pattern="[0-9]+" required />
          </div>
          <div *ngIf="bookPrice.touched">
            <div *ngIf="bookPrice.errors?.['required']">
            <b style="color: red;">Book Shelf Required.</b>
            </div>
            <div *ngIf="bookPrice.errors?.['pattern']">
            <font color="red"><b>Invalid Book Shelf.</b></font>
            </div>
          </div>

          <div class="form-group">
            <label for="Book Language">Book Language</label>
            <input type="text" class="form-control" name="bookLang" ngModel #bookLang="ngModel" 
            pattern="[a-zA-z]+" required />
          </div>
            <div *ngIf="bookLang.touched">
              <div *ngIf="bookLang.errors?.['required']">
              <b style="color: red;">Book Name Required.</b>
              </div>
              <div *ngIf="bookLang.errors?.['pattern']">
              <font color="red"><b>Invalid Book Name.</b></font>
              </div>
            </div>

            <button class="btn btn-success" (click)="insertBook(LibraryForm.value)">
              Insert
          </button>
      &nbsp;&nbsp;
          <button class="btn btn-primary" (click)="updateBook(LibraryForm.value)">
              Update
          </button>&nbsp;&nbsp;
          <button class="btn btn-danger" (click)="deleteBook(LibraryForm.value)">
              Delete
          </button>&nbsp;&nbsp;
          <button class="btn btn-warning" (click)="findBook(LibraryForm.value)">
              Find
          </button>
          &nbsp;&nbsp;
          <button class="btn btn-info" (click)="findAllBook()" >
              Find All
          </button>
        </form>
      </div>
      <h2 align="center" ><font color="ggreen">{{result}}</font></h2>
      <div align="center" width="80%">
        <table *ngIf="flag" border="4px solid brown" width="60%">
          <tr><th>Book Id</th><th>Book Name</th><th>Book Shelf No </th><th>Book Price</th>
          <th>Book Language</th></tr>
          <tr *ngFor="let book of libraryArr"><td>{{book.id}}</td><td>{{book.bookName}}</td>
            <td>{{book.bookShelf}}</td><td>{{book.bookPrice}}</td><td>{{book.bookLang}}</td></tr>
        </table>

      </div>
    </body>
</html>